.top {
  position:absolute;
  left:0; 
  right:0;
  height: 67px;
}

.titleDiv {
  position:absolute; 
  left:0; 
  width: 178px;
  height: 67px;
}

.title {
 margin: inline-block;
 position: relative; 
 left: 40px;
}

.remainingTop {
  position: absolute;
  height: 67px; 
  left: 178px;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.stats {
  width: 200px;
  height: 50px;
  margin-top: 25px;
}

.left {
  position: absolute;
  left:0; 
  top: 72px; 
  bottom: 0;
  width: 178px;
}

#menu {
  position: absolute;
  left: 45px;
  width: 110px;
  /* reset style */
  visibility: visible;
  opacity: 1;
  color: '#FFFFFF';
}


.cd-main-content .content-wrapper { 
margin-left: 110px; 
} 


.main {
  position: absolute;
  left:178px; 
  top:92px; 
  right:0; 
  bottom:0;
  background-color: lightgray;
}

.recents {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 475px;
  background-color: white;
}

.invocations {
  position: absolute;
  top: 150px;
  left: 20px;
  right: 230px;
  bottom: 270px;
  background-color: white;
}

.durations {
  position: absolute;
  top: 360px;
  left: 20px;
  right: 230px;
  bottom: 20px;
  background-color: white;
}

.best {
  background-color: white;
  position: absolute;
  top: 150px;
  left: 800px;
  right: 20px;
  bottom: 270px;  
}

.worst {
  background-color: white;
  position: absolute;
  top: 360px;
  left: 800px;
  right: 20px;
  bottom: 20px; 
}

#index {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, serif;
}