.top {
  /* position: relative;
  left: 0em; 
  height: 67em;
  width: 100%; */
}

.titleDiv {
  position:absolute; 
  left:0em; 
  width: 120em;
  height: 67em;
}

.title {
 margin: inline-block;
 position: absolute; 
 left: 40px;
}

.remainingTop {
  position: absolute;
  height: 67px; 
  left: 178px;
  width: 70%;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.stats {
  width: 200px;
  height: 50px;
  margin-top: 25px;
}

.left {
  position: absolute;
  left:0; 
  top: 72px; 
  bottom: 0;
  width: 178px;
}

#menu {
  position: absolute;
  left: 35px;
  width: 110px;
  /* reset style */
  visibility: visible;
  opacity: 1;
  color: '#FFFFFF';
  font-size: 10px;
}


.cd-main-content .content-wrapper { 
margin-left: 110px; 
} 


.main {
  position: absolute;
  left:178px; 
  top:92px; 
  width: 70%;
  height: 850px;
  background-color: rgb(240, 240, 240);
}

.recents {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 93%;
  background-color: white;
  box-shadow: 10px 10px 5px rgb(177, 177, 177);
}

.invocations {
  position: absolute;
  top: 150px;
  left: 20px;
  /* right: 230px; */
  /* width: 96%; */
  background-color: white;
  box-shadow: 10px 10px 5px rgb(177, 177, 177);
}


.durations {
  position: absolute;
  top: 500px;
  left: 20px;
  /* right: 230px; */
  /* right: 20px;
  bottom: 20px; */
  /* width: 96%; */
  background-color: white;
  box-shadow: 10px 10px 5px rgb(177, 177, 177);
}

.sectionTitle {
  /* text-shadow: 1px 1px 1px rgb(177, 177, 177); */
  position: relative;
  text-decoration-line: underline;
  text-decoration-style: double;
  left: 1em;
}

/* .best {
  background-color: white;
  position: absolute;
  top: 150em;
  left: 800em;
  right: 20em;
  bottom: 270em;  
  box-shadow: 10px 10px 5px rgb(177, 177, 177);
}

.worst {
  background-color: white;
  position: absolute;
  top: 360px;
  left: 800em;
  right: 20em;
  bottom: 20em; 
  box-shadow: 10px 10px 5px rgb(177, 177, 177);
} */

#index {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, serif;
}

div.tooltip {	
  position: absolute;			
  text-align: center;			
  width: 45px;					
  height: 16px;					
  padding: 2px;				
  font: 12px sans-serif;		
  background: rgba(199, 199, 199, 0.29);	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
} 

.dot {
  fill:rgba(31, 120, 56, 1);
}

.dot2 {
  fill:rgba(143, 13, 13,1);
}

.dot3 {
  fill:rgba(33, 129, 150,1);
}

.dot4 {
  fill:rgba(250, 145, 31,1);
}

.dot5 {
  fill:rgba(91, 33, 116,1);
}

.pathLine { 
  stroke: rgba(31, 120, 56, 0.893);
  stroke-width: 3;
  fill:  none;
}

.pathLine2 { 
  stroke: rgba(143, 13, 13, 0.694);
  stroke-width: 3;
  fill:  none;
}

.pathLine3 { 
  stroke: rgba(33, 129, 150, 0.892);
  stroke-width: 3;
  fill:  none;
}

.pathLine4 { 
  stroke: rgba(250, 145, 31, 0.892);
  stroke-width: 3;
  fill:  none;
}

.pathLine5 { 
  stroke: rgba(91, 33, 116, 0.892);
  stroke-width: 3;
  fill:  none;
}


.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.area {
  fill:rgba(31, 120, 56, 0.29);
}
.area2 {
  fill:rgba(143, 13, 13, 0.29);
}
.area3 {
  fill:rgba(33, 129, 150, 0.29);
}
.area4 {
  fill:rgba(250, 145, 31, 0.29);
}
.area5 {
  fill:rgba(91, 33, 116, 0.29);
}