.top {
  position: relative;
  left: 0em; 
  height: 67em;
  width: 100%;
}

.titleDiv {
  position:absolute; 
  left:0em; 
  width: 178em;
  height: 67em;
}

.title {
 margin: inline-block;
 position: relative; 
 left: 40px;
}

.remainingTop {
  position: absolute;
  height: 67px; 
  left: 178px;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.stats {
  width: 200px;
  height: 50px;
  margin-top: 25px;
}

.left {
  position: absolute;
  left:0; 
  top: 72px; 
  bottom: 0;
  width: 178px;
}

#menu {
  position: absolute;
  left: 45px;
  width: 110px;
  /* reset style */
  visibility: visible;
  opacity: 1;
  color: '#FFFFFF';
}


.cd-main-content .content-wrapper { 
margin-left: 110px; 
} 


.main {
  position: absolute;
  left:178px; 
  top:92px; 
  right:0; 
  bottom:0;
  background-color: rgb(240, 240, 240);
}

.recents {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 475px;
  background-color: white;
  box-shadow: 10px 10px 5px rgb(177, 177, 177);
}

.invocations {
  position: absolute;
  top: 150px;
  left: 20px;
  /* right: 230px; */
  right: 20px;
  bottom: 270px;
  background-color: white;
  box-shadow: 10px 10px 5px rgb(177, 177, 177);
}

.durations {
  position: absolute;
  top: 360px;
  left: 20px;
  /* right: 230px; */
  right: 20px;
  bottom: 20px;
  background-color: white;
  box-shadow: 10px 10px 5px rgb(177, 177, 177);
}

.sectionTitle {
  /* text-shadow: 1px 1px 1px rgb(177, 177, 177); */
  position: relative;
  text-decoration-line: underline;
  text-decoration-style: double;
  left: 1em;
}

/* .best {
  background-color: white;
  position: absolute;
  top: 150em;
  left: 800em;
  right: 20em;
  bottom: 270em;  
  box-shadow: 10px 10px 5px rgb(177, 177, 177);
}

.worst {
  background-color: white;
  position: absolute;
  top: 360px;
  left: 800em;
  right: 20em;
  bottom: 20em; 
  box-shadow: 10px 10px 5px rgb(177, 177, 177);
} */

#index {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, serif;
}